---
layout: default
cards:
 - heading: A nice heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, omnis! Cumque eius placeat sapiente doloribus eveniet iure nesciunt incidunt.
   featured_image: /images/the-sleep-co-pillow.jpg
 - heading: A better heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, omnis! Cumque eius placeat sapiente doloribus eveniet iure nesciunt incidunt.
   featured_image: /images/the-sleep-co-night-stand.jpg
 - heading: A great heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, omnis! Cumque eius placeat sapiente doloribus eveniet iure nesciunt incidunt.
   featured_image: /images/the-sleep-co-pug.jpg
---
        
    <!-------------------- Header banner ---------------------->
    <header class="grid tall-60">

       {% include header-nav.html %}

            <div class="col-12-middle text-center">
                <h3 class="font-weight-extra-bold"><span class="featured-text-yellow">Addictively</span> Soft</h3>
                <h1 class="font-weight-light editable">you won't want to get out of bed</h1>
            </div>

        </header>

         <!-------------------- Text Grid --------------------> 

 <section class="padded grid bg-featured">
            
    <div class="padded-sm col-12 text-center">
        <h2><span class="white-text">features</span> you will love</h2>
    </div>

    <div class="padded-sm col-3">
        <h3>Flexibility</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis optio iure delectus obcaecati, numquam inventore nihil nemo quod dolorem dolore eligendi libero qui cupiditate atque! Deleniti commodi molestias dicta recusandae.</p>
    </div>

    <div class="padded-sm col-3">
        <h3>Comfort</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis optio iure delectus obcaecati, numquam inventore nihil nemo quod dolorem dolore eligendi libero qui cupiditate atque! Deleniti commodi molestias dicta recusandae.</p>
    </div>

    <div class="padded-sm col-3">
        <h3>Affordable</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis optio iure delectus obcaecati, numquam inventore nihil nemo quod dolorem dolore eligendi libero qui cupiditate atque! Deleniti commodi molestias dicta recusandae.</p>
    </div>

    <div class="padded-sm col-3">
        <h3>Long-lasting</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis optio iure delectus obcaecati, numquam inventore nihil nemo quod dolorem dolore eligendi libero qui cupiditate atque! Deleniti commodi molestias dicta recusandae.</p>
    </div>
        
</section>

<!--  Cards  -->
    <section class="grid padded">

        {% for item in page.cards %}
        <div class="col-4 padded-sm">
            <div class="card">
                <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
                <div class="padded">
                    <h3>{{item.heading}}</h3>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>       
        {% endfor %}
    </section>


    <!-------------------- Image Banner -----------------------> 
        
        <section class="padded text-center bg-dark tall-70 grid">
            <div class="col-12-middle">
                <h3 class="big-text">
                    <span class="med-text font-weight-normal">spend over $150 and activate</span> 
                    <br><span class="featured-text-yellow">free </span>express shipipng
                </h3>
            </div>
        </section>
    <!-------------------- Gallery / About section------------->
        
    <section class="grid">
        <div class="padded col-6-middle">
            <h2 class="editable">built to last a <span class="featured-text-yellow">lifetime</span></h2>
            <p class="editable">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia deleniti totam cumque, ad in consequuntur minus reprehenderit numquam ullam exercitationem quod inventore, maxime cum ipsum nam atque sapiente velit blanditiis.</p>
        </div>

        <!-- Gallery: Background image - Night stand -->
        <div class="bg-image bg-night-stand col-6 tall-70">
            
        </div>

        <!-- Gallery: Background image - pug -->
        <div class="bg-image bg-pug col-6 tall-70"></div>  

        <div class="padded col-6-middle">
            <h2>so <span class="featured-text-yellow">soft</span> you'll melt</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia deleniti totam cumque, ad in consequuntur minus reprehenderit numquam ullam exercitationem quod inventore, maxime cum ipsum nam atque sapiente velit blanditiis.</p>
        </div>

        <div class="padded col-6-middle">
            <h2 class="editable">built to last a <span class="featured-text-yellow">lifetime</span></h2>
            <p class="editable">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia deleniti totam cumque, ad in consequuntur minus reprehenderit numquam ullam exercitationem quod inventore, maxime cum ipsum nam atque sapiente velit blanditiis.</p>
        </div>

        <!-- Gallery: Background image - Night stand -->
        <div class="bg-image bg-night-stand col-6 tall-70"></div>

    </section>

