*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ====== Temp styles that need to be removed for structural HTML ============*/
/* CHANGE ALL CLASS AND SELECTOR NAMES, THEY SUCK CURRENTLY */
*{
    padding: 0.5rem;
    border: 2px solid gray;
}

body{border: none;}
html{border: none;}


/* ======================== Image Styles ==================================== */
.bg-image{
    background-image: url('/images/the-sleep-co-bed.jpg');
    background-size: cover;
    min-height: 10rem;
}

/* ====================== Universal Styles and Utility Classes ==============*/

/* spacing */
.padded {padding: 5%;}
.padded-sm {padding: 1rem;}

/* background and colors */
.bg-dark{ 
    background-color: #192b37;
    color: #ffffff;
}