
/* CHANGE ALL CLASS AND SELECTOR NAMES, THEY SUCK CURRENTLY */

/* 
    Colors: 
    Yellow - #ffbe80;
    Navy Blue - #192b37
*/

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ====== Temp styles ================================= ============*/

section{
    border: 2px solid gray;
}
/* ====================== Universal Styles & Utility Classes ==============*/

body{
    font-family: 'Catamaran', sans-serif;
    color: #192b37;
}

/* spacing */
.padded {padding: 5%;}
.padded-sm {padding: 1rem;}

.tall-80 { min-height: 80vh;}
.tall-90 { min-height: 90vh;}
.tall-100 { min-height: 100vh;}

/* background and colors */
.bg-dark{ 
    background-color: #192b37;
    color: #ffffff;
}

.featured-text-yellow{ color: #ffbe80;}

/* Typography styles */
.text-left  {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

/* ======================== Header Styles ==================================== */

header{
    background-image: url('images/the-sleep-co-bed.jpg');
    background-size: cover;
    background-position: center;
}

header h3{
 font-size: 5.5rem;
 line-height: 1;
}

/* ======================== Image Styles ==================================== */
.bg-image{
    background-image: url('/images/the-sleep-co-bed.jpg');
    background-size: cover;
    min-height: 10rem;
}